
#header {
  margin: auto;
  background-color: white;
  background-image: url("/media/2025/nancy_rothwell.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
}